pancreas_goodresult_model.pth
pancreas_goodresult.h5ad
__pycache__/
data/*
final_model.pth
plots/*
gastrulation_erythroid_common_smoothing.h5ad
gastrulation_erythroid.h5ad
preprocessing_old.ipynb
gastr_common_geodesic/gastrulation_erythroid_common_geodesic.h5ad
gastr_common_geodesic/model.pth
gastr_common_geodesic/plots/*
gastr_common_smoothing/model.pth
gastr_common_smoothing/plots/*
gastr_separate_smoothing/model_1layer.pth
gastr_separate_smoothing/model_2layers_edit_loss.pth
gastr_separate_smoothing/model_2layers.pth
gastr_separate_smoothing/plots/*
erythroid_pancreas_3k.h5ad
gastrulation_unprocessed.h5ad
pancreas-gastr->pancr_transfer.h5ad
gastr->pancreas-linear_probing/linear_probed_model_30epochs.pth
gastr->pancreas-linear_probing/linear_probed_model.pth
gastr->pancreas-linear_probing/model.pth
gastr->pancreas-linear_probing/plots/plot1.png
gastr->pancreas-zero_shot/plots/*
gastr->pancreas-zero_shot/model.pth
gastr->pancreas-zero_shot/data/Pancreas/endocrinogenesis_day15.h5ad
gastr_full_separate_smoothing/gastrulation_processed.h5ad
gastr_full_separate_smoothing/gastrulation_velocity.h5ad
gastr_full_separate_smoothing/model.pth
gastr_full_separate_smoothing/plots/*
gastr_separate_smoothing/erythroid_pancreas.h5ad
gastr_separate_smoothing/model_minmax.pth
CITE-seq/GSE100866_PBMC_vs_flow_10X-ADT_clr-transformed.csv
CITE-seq/GSE100866_PBMC_vs_flow_10X-ADT_umi.csv
CITE-seq/GSE100866_PBMC_vs_flow_10X-RNA_umi.csv
neurips/GSE194122_openproblems_neurips2021_multiome_BMMC_processed.h5ad
pancreas_common_smoothing_minmax/pancreas_minmax.h5ad
pancreas_common_smoothing_minmax/plots/plot1.png
